@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

* {
    font-optical-sizing: auto;
    font-weight: weight;
    font-family: "Oswald", serif;
    font-style: normal;
}
